.overlay{
    min-height: 100vh;
    margin-left: 10px;
}
Container{
    background-color: red;
}

.item{
    height: 300px;
    width: 100px;
}

.shopcontainer{
    margin-right: 100px;
    padding-right: 100px;
}

div img{
    height: 300px;
    width: auto;
}