
#root{
    height: 100%;
    background-color: #f0f2f5;
}
html, body {
    height: 100%;
}

.shoppingcart{
    margin-left: 10px;
}

.wholeapp{
    max-height: 70%;
    width: 100%;
}
.iconiconicon{
    background-color: red;
}
.overlay{
    min-height: 20%;
    margin-left: 10px;
    height: 100%;
    width: 100%;
}

.item{
    height: 300px;
    width: 100px;
}

.shopcontainer{
    width: 90%;
    display: grid;
    grid-auto-rows: auto;
    padding-right: 100px;
    margin-top: 50px;
    position: absolute;
    left: 100px;
}

div img{
    height: 300px;
    width: auto;
}
.itempreview{
    width: 33%;
    height: auto;
    margin-bottom: 20px;
}


.itemsectionpage{
    height: 100%;
    width: 70%;
}

.itemimg{
    max-width: 450px;
    height: auto;
}
.itemsectiontext{
    right: 0;
}
.itemsectionbutton{
    position: absolute;
    bottom: 100px;
    right: 50px;
}
.register{
    margin-left: 10px;
    width: 40%;
}
.itemimg{
    min-width: auto;
    min-height: 250px;
    max-height: 600px;
}
.itemsection{
    position: absolute;
    left: 150px;
    top: 150px;
    width: 70%;
    height: 100%;
}
.itemtitle{
    position: absolute;
    right: 0;
}
.ant-menu-dark .ant-menu-inline {
    height: 100%;
}
.customOverlay {
    background: rgba(36, 123, 160, 0.7);
}
.customModal {
    background: #b2dbbf;
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: 100%;
}

.loginsection {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.tooltip_class{
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.itemsection_withimg{
    width: 100%;
    min-height: 250px;
}
.marketlogo{
    width: 100%;
    height: auto;
}

.buy_button{
    background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
}

.card_img{
    max-height: 300px;
}

.drawer_button{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.confirmModal{
    width: auto;
    height: 200px;
}
.confirm_buttons{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
